{% extends 'main.html' %} {% block content %}
<div class="card">
  <div class="card-header">Создание статьи</div>
  <div class="card-body">
    <h5 class="card-title">Создайте статью</h5>
    <form
      method="post"
      action="{% url 'post_create' %}"
      enctype="multipart/form-data"
    >
      {% csrf_token %} {{ form.as_p }}
      <div class="d-grid gap-2 d-md-block mt-2">
        <button type="submit" class="btn btn-dark">Завершить создание</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
